
<!DOCTYPE html>
<html>
  <head>
    <title>Doug's Timestamp API</title>
    <meta name="description" content="A microservice for creating timestamps">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Doug's Timestamp API microservice
      </h1>
      
      <p>
        This was built for Free Code Camp's Timestamp API project! Thanks for taking a look.
      </p>
    </header>

    <main>
      <p>
        <strong>Example usage:</strong>
      </p>
      <code class="code"><mark>https://thinkable-icebreaker.glitch.me/August 9, 2017<br>
       https://thinkable-icebreaker.glitch.me/1502299306</mark></code>
      
      <p>
        <strong>Example output:</strong>
      </p>
      <code class="code"><mark>{"unix":"1502236800","natural":"August, 9, 2017"}</mark></code>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
